## Dataset Generator

A tool for creating fictional data in Python for data analytics practice

Kenneth Burchfiel

First uploaded to GitHub on 2021-4-3; revised since

(Code is released under the MIT license; the resulting happiness.csv file is released into the public domain)

In this program, I will use Python to create a fictional dataset showing the results of a happiness survey with 1600 participants. The purpose of this dataset is to provide a 'clean' and public-domain set of data for data analytics practice.

The dependent variable in this survey is a self-reported happiness score; the independent variables are 14 factors (gender, income, etc.) that may or may not correlate with happiness. The formula used to calculate happiness makes use of variable weights that the user can easily modify; these weights help determine how important each of the 14 variables appears in a regression analysis. 

One of the 14 independent variables (income) can serve as a dependent variable on its own, and like the happiness variable, its values are determined in part by user-specified variable weights. 

The program makes liberal use of numpy's random number functions in order to simulate a more realistic range of responses.

At the end of the program, I demonstrate a formula that appears to explain, at least in some cases, the relationship between the specified variable weights and the regression coefficients of those variables. This formula provides evidence that changing the weight of a variable has an impact on its resulting coefficient, although this impact is mitigated for lower weights and higher amounts of random variation.

Special thanks to Columbia Business School professors Mattan Griffel and David Guetta for inspiring me to use Python rather than Excel to create fictional datasets.

## Note: 
This notebook is still a rough draft; I plan to provide additional explanations of the code and make other changes.

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
id_list = [] # Will store the index numbers for the DataFrame
for i in range (1, 1601):
    id_list.append(i)

columns_list = ['female', 'age', 'num_chronic', 'married', 'urban', 'hours_tv', 'hours_sm', 'num_sunny', 'avg_temp', 'close_friends', 'worship_days', 'years_edu', 'employed_ft', 'income', 'happiness']

# The following for loop appends an index number to each item in the columns list. This will make it easier to create functions that use .iloc, as the column number will be present within the column. The benefit of doing this step separately from initializing the column list above is that, in the event the columns list is reordered, the numbers will not need to be changed manually.
for i in range (len(columns_list)):
    columns_list[i] = str(i)+"_"+columns_list[i]

columns_list

['0_female',
 '1_age',
 '2_num_chronic',
 '3_married',
 '4_urban',
 '5_hours_tv',
 '6_hours_sm',
 '7_num_sunny',
 '8_avg_temp',
 '9_close_friends',
 '10_worship_days',
 '11_years_edu',
 '12_employed_ft',
 '13_income',
 '14_happiness']

In [3]:
df = pd.DataFrame(columns = columns_list, index = id_list)
df.index.name = 'id' # based on this StackOverflow answer by Jeff: https://stackoverflow.com/a/18023468/13097194 also present in the Pandas 0.13.1 documentation: https://pandas.pydata.org/pandas-docs/version/0.13.1/indexing.html
df

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness
id,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness
id,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
rng = np.random.default_rng(1337)

In [6]:
# Variable 0 initialization
for i in range (0, len(df)): 
    df.iloc[i, 0] = rng.integers(0,2) # Returns either 0 or 1. See https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.integers.html
    
# Variable 1 initialization
for i in range (0, len(df)): 
    df.iloc[i,1] = rng.integers(20,81) 
    # As noted by the documentation, a single integer will be returned if size is not specified, which is preferable to specifying a size of 1, which returns a one-integer list.
    
# Variable 2 initialization
for i in range (0, len(df)): 
    df.iloc[i,2] = rng.integers(0,6) 

# Variable 3 initialization
for i in range (0, len(df)): 
    df.iloc[i,3] = rng.integers(0,2) 

# Variable 4 initialization
for i in range (0, len(df)): 
    if rng.random() > 0.3: # https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.random.html?highlight=rng%20random
    # Used instead of rng.integers(0,2) becasue I want about 70% of the results to be 1 (for 'urban') 
        df.iloc[i,4] = 1
    else:
        df.iloc[i,4] = 0

# Variable 5 initialization
for i in range (0, len(df)):
    df.iloc[i,5] = round(max(rng.normal(10,4),0),1) # Returns either (1) a random number on a normally distributed curve with a mean of 10 and a standard deviation of 4 or (2) 0 (since it would not make sense to watch negative hours of TV per week), then rounds it to the nearest decimal point.

# Variable 6 initialization
for i in range (0, len(df)):
    df.iloc[i,6] = round(max(rng.normal(5,2),0),1)


# Variable 7 initialization
for i in range (0, len(df)):
    df.iloc[i,7] = round(min(max(rng.normal(120,20),0),365)) # The inclusion of min() and max() in this code ensure that the final result will be greater than or equal to 0 but less than or equal to 365.

# Variable 8 initialization
for i in range (0, len(df)):
    df.iloc[i,8] = round(rng.normal(55,5),1) # The inclusion of min() and max() in this code ensure that the final result will be greater than or equal to 0 but less than or equal to 365.

# Variable 9 initialization
for i in range (0, len(df)):
    df.iloc[i,9] = rng.integers(0,6)+df.iloc[i,0]*rng.integers(0,6)
    # This is the first variable to be partially dependent on another variable. Each person is assigned 0 to 5 close friends; however, if the person is female, she will be assigned another 0 to 5 close friends. This creates a correlation between gender and number of close friends.

# Variable 10 initialization
for i in range (0, len(df)):
    df.iloc[i,10] = round(min(max(rng.normal(30,26)+df.iloc[i,0]*rng.normal(30,26),0),365))


# Variable 11 initialization
for i in range (0, len(df)):
    df.iloc[i,11]=2*min(5+rng.integers(0,6)+df.iloc[i,0]*rng.integers(0,2),11) # I wanted all years of education to be even, so I made the input values half the desired size and then doubled them.

# Variable 12 initialization
for i in range (0, len(df)):
    if (rng.random()+(df.iloc[i,11]-12)*0.01)>0.3:
        df.iloc[i,12] = 1
    else:
        df.iloc[i,12] = 0

df

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness
id,,,,,,,,,,,,,,,
1,1,50,1,1,1,7.2,7.9,136,55.6,8,78,12,1,NaN,NaN
2,1,68,4,0,0,7.0,5.5,104,54.9,7,22,16,0,NaN,NaN
3,1,60,5,0,1,11.4,7.0,132,60.0,8,55,20,1,NaN,NaN
4,0,24,3,0,0,13.1,5.7,139,56.7,5,0,10,1,NaN,NaN
5,1,30,1,1,0,6.1,1.7,108,64.2,0,73,10,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1,20,2,1,1,6.1,9.7,105,51.3,7,55,18,1,NaN,NaN
1597,1,75,3,0,1,8.9,5.2,86,59.9,2,43,18,1,NaN,NaN
1598,1,29,0,0,1,4.5,5.4,137,53.5,6,61,16,1,NaN,NaN
1599,1,77,0,0,1,7.5,5.1,143,57.4,0,4,10,0,NaN,NaN
1600,0,21,0,0,1,6.7,4.0,140,59.7,2,38,10,1,NaN,NaN

In [7]:
df.dtypes

0_female           object
1_age              object
2_num_chronic      object
3_married          object
4_urban            object
5_hours_tv         object
6_hours_sm         object
7_num_sunny        object
8_avg_temp         object
9_close_friends    object
10_worship_days    object
11_years_edu       object
12_employed_ft     object
13_income          object
14_happiness       object
dtype: object

The values for the next variable (income) will be based off the sum of a set of products of other independent variables and those variables' weights. This is a similar approach to making predictions using a linear regression output. In that scenario, given variables A, B, and C whose coefficients are X, Y, and Z, respectively, the dependent variable would be predicted as A*X + B*Y + C*Z (plus an intercept). In this case, the math is similar, but we are generating actual variable values rather than predicting them. 

This raises the question, however, of what multiplier to use for each variable. The easiest approach would be to use a multiplier of 1 for all independent variables. However, this approach is not ideal, since I want to give different variables different weights to reflect their different contribution to income. In addition, it is necessary to adjust the multipliers to offset the variation in means across variables. Without this offset, values with high mean values (like age) would contribute much more to income than values with low means (such as binary variables like female, married, and urban).

To calculate these multipliers, I chose to create a second DataFrame (df_weights) containing (1) each variable's mean; (2) each variable's desired weight in the income calculation formula; and (3) a multiplier, which takes both the variable's mean and weight into account, that can be multiplied with that variable's value for the purpose of determining the income variable in each row.

First, I will create the df_weights DataFrame:

In [8]:
print(len(df.columns))

15

In [9]:
test_name = str(len(df.columns))+"_unexplained"
print(test_name)

15_unexplained

In [10]:
additional_column = [str(len(df.columns))+"_unexplained"] # This column will store the amount of variance not explained by the weighted variables. Its name will begin with an index number 1 greater than the last number in the DataFrame.
columns_plus_unexplained = columns_list+additional_column
df_weights_1 = pd.DataFrame(columns = columns_plus_unexplained, index = ['mean', 'weight', 'multiplier'])

df_weights_1

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness,15_unexplained
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weight,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
multiplier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Initializing the mean absolute values, weights, and multiplier values in df_weights:

The set_weights formula below fills in df_weights_1 with most of the values needed to determine the value of the dependent variable. Within this formula,I first calculated the mean absolute value of each variable, then stored that variable in the mean row. (The mean absolute value is used because this will be a better measure of magnitude for variables that include both positive and negative values.)

I next determined what weight I desired for each of my variables to have in the regression calculation (with negative weights reflecting a negative correlation). The sum of the absolute value of each weight reflected what proportion of the total variance I wanted to be explained by that variable. 1 - the sum of all these absolute values equals the total unexplained weight.															
Next, I created the 'multiplier' value for each variable, which will be a central part of the formula for my dependent variables.

The multiplier formula equals (desired weight)/(mean absolute value*2). The weight is in the numerator since I want higher weights to result in higher multipliers. The purpose of including the average in the denominator is to standardize the multiplier's value across variables. For instance, if variable A has an avearge value of 1000 and variable B has an average value of 1, I would not want variable A to receive 1000 times the weight of variable B as a result of this discrepancy. Therefore, the solution is to divide the multiplier of a variable by that variable's mean absolute value. This denominator will be offset by the value of the variable during the multiplication of that variable and the multiplier.

The purpose of the 2 in the denominator is to prevent the multiplier from being twice as high as it should be. For example, suppose a variable has a range of 0 to 1 (as does any binary variable), a desired weight of 1, and an average of 0.5. If we divide by the average, the multiplier will become 2, which is twice our desired weight. By dividing by 2, the multiplier equation becomes 1/1 = 1.

In [11]:
array_test = [-0.05, 0, 0, 0.05, 0.05, -0.03, -0.02, 0, 0, 0, 0, 0.25, 0.45]
array_abs_sum = np.mean(np.absolute(array_test))
array_abs_sum

0.06923076923076923

In [12]:
weights_1 = [-0.05, 0, 0, 0.05, 0.05, -0.03, -0.02, 0, 0, 0, 0, 0.25, 0.45]

def set_weights(weight_list,weight_df,df_data):
    for i in range(len(weight_df.columns)-1): # The -1 prevents this for loop from going out of bounds (as weight_df will have one more column, the 'unxplained' column, than df)
        weight_df.iloc[0, i]=np.mean(np.absolute(df.iloc[:,i])) # Fills in the means column
    for i in range(len(weight_list)):
        weight_df.iloc[1, i] = weight_list[i] # Fills in the weights column up to the last value in weight_list
        abs_sum = 0
        weight_df.iloc[1, -1]=1-sum(np.absolute(weight_list)) # Calculates the amount of unexplained variance and then assigns that amount to the 'unexplained' column in weight_df
        weight_df.iloc[2,:] = weight_df.iloc[1,:]/(weight_df.iloc[0,:]*2) # Calculates the multipliers that will be used for each variable when generating the variable's values in the DataFrame
    return weight_df

df_weights_1 = set_weights(weights_1,df_weights_1,df)
df_weights_1

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness,15_unexplained
mean,0.4875,49.509375,2.454375,0.475625,0.703125,10.0795,5.07375,120.625,55.052812,3.7375,47.451875,15.38875,0.733125,NaN,NaN,NaN
weight,-0.05,0,0,0.05,0.05,-0.03,-0.02,0,0,0,0,0.25,0.45,NaN,NaN,0.1
multiplier,-0.051282,0.0,0.0,0.052562,0.035556,-0.001488,-0.001971,0.0,0.0,0.0,0.0,0.008123,0.306905,NaN,NaN,NaN

In [13]:
# Testing ways to find the sum of the products when two series are multiplied together
sumproduct_row_0 = 0
for i in range (0, len(weights_1)):
    sumproduct_row_0 += df.iloc[0, i]*df_weights_1.iloc[2,i]

print(sumproduct_row_0)

df.iloc[0:3,2:4]

test_result = pd.Series.multiply(df.iloc[0, 0:12], df_weights_1.iloc[2,0:12])
sumproduct2 = 0
for i in range (len(test_result)):
    sumproduct2+= test_result[i]
print(test_result)
print(sumproduct2)
print(sum(test_result))

0.4149299421791226
0_female          -0.051282
1_age                   0.0
2_num_chronic           0.0
3_married          0.052562
4_urban            0.035556
5_hours_tv        -0.010715
6_hours_sm         -0.01557
7_num_sunny             0.0
8_avg_temp              0.0
9_close_friends         0.0
10_worship_days         0.0
11_years_edu       0.097474
dtype: object
0.1080245713351328
0.1080245713351328

Initializing the income variable by multiplying two series

To arrive at the income variable value for each row, I will first add up the products of each variable's value with its multiplier (using the sum() function on the pd.Series.multiply function, producing a result identicial to =SUMPRODUCT in Excel). Next, I will add in the product of the total unexplained weight and rng.random(). Multiplying this unexplained weight by rng.random() adds some additional randomness to the outcomes, which in my view makes it more realistic (as unexplained variance, by its nature, should be unpredictable).


This value can then be multiplied, added to, and/or rounded in order to arrive at a desired range of outcome measures. In the case of the income dependent variable, I multiplied the value calculated above by 100,000; rounded the product; and added 12000 to it in order arrive at a reasonable range of incomes.

In [14]:
# Variable 13 initialization
# 
for i in range (0, len(df)):
    df.iloc[i,13] = round((sum(pd.Series.multiply(df.iloc[i, 0:13], df_weights_1.iloc[2,0:13]))+rng.random()*df_weights_1.iloc[1,15])*100000)+12000
# Note that .iloc[2,0:13] only selects columns 0 to 12.

df

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness
id,,,,,,,,,,,,,,,
1,1,50,1,1,1,7.2,7.9,136,55.6,8,78,12,1,60607,NaN
2,1,68,4,0,0,7.0,5.5,104,54.9,7,22,16,0,27155,NaN
3,1,60,5,0,1,11.4,7.0,132,60.0,8,55,20,1,56371,NaN
4,0,24,3,0,0,13.1,5.7,139,56.7,5,0,10,1,53930,NaN
5,1,30,1,1,0,6.1,1.7,108,64.2,0,73,10,1,53575,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1,20,2,1,1,6.1,9.7,105,51.3,7,55,18,1,67835,NaN
1597,1,75,3,0,1,8.9,5.2,86,59.9,2,43,18,1,59798,NaN
1598,1,29,0,0,1,4.5,5.4,137,53.5,6,61,16,1,61423,NaN
1599,1,77,0,0,1,7.5,5.1,143,57.4,0,4,10,0,18404,NaN
1600,0,21,0,0,1,6.7,4.0,140,59.7,2,38,10,1,59181,NaN

In [15]:
# The following 3 print statements helped me determine how to multiply/add to the income variable output so that the results would match a reasonable range of income levels.
print(np.mean(df.iloc[:,13]))
print(min(df.iloc[:,13]))
print(max(df.iloc[:,13]))

51978.809375
13089
75910

I will now create a new weights table that can be used to construct the values of the main dependent variable (happiness).

In [16]:
df_weights_2 = df_weights_1.copy() # copy() is necessary in order to prevent changes from df_weights_2 from also impacting df_weights_1. See https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.copy.html
weights_2 = [0, 0.02, -0.05, 0.15, -0.05, -0.03, -0.05, 0.02, 0.01, 0.1, 0.15, 0.03, 0.12, 0.04]

df_weights_2 = set_weights(weights_2,df_weights_2,df)

df_weights_2

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness,15_unexplained
mean,0.4875,49.509375,2.454375,0.475625,0.703125,10.0795,5.07375,120.625,55.052812,3.7375,47.451875,15.38875,0.733125,51978.809375,NaN,NaN
weight,0,0.02,-0.05,0.15,-0.05,-0.03,-0.05,0.02,0.01,0.1,0.15,0.03,0.12,0.04,NaN,0.18
multiplier,0.0,0.000202,-0.010186,0.157687,-0.035556,-0.001488,-0.004927,0.000083,0.000091,0.013378,0.001581,0.000975,0.081841,0.0,NaN,NaN

In [17]:
df_weights_1

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness,15_unexplained
mean,0.4875,49.509375,2.454375,0.475625,0.703125,10.0795,5.07375,120.625,55.052812,3.7375,47.451875,15.38875,0.733125,NaN,NaN,NaN
weight,-0.05,0,0,0.05,0.05,-0.03,-0.02,0,0,0,0,0.25,0.45,NaN,NaN,0.1
multiplier,-0.051282,0.0,0.0,0.052562,0.035556,-0.001488,-0.001971,0.0,0.0,0.0,0.0,0.008123,0.306905,NaN,NaN,NaN

In [18]:
# Variable 14 (dependent variable) initialization
# 
for i in range (0, len(df)):
    df.iloc[i,14] = round((sum(pd.Series.multiply(df.iloc[i, 0:14], df_weights_2.iloc[2,0:14]))+rng.random()*df_weights_2.iloc[1,15])*40)+20 

# A model with less random variation (useful for testing purposes):
# for i in range (0, len(df)):
#     df.iloc[i,14] = round((sum(pd.Series.multiply(df.iloc[i, 0:14], df_weights_2.iloc[2,0:14]))+df_weights_2.iloc[1,15])*40)+20 
# The *40 in the above formula will be referenced later on when attempting to reconcile the variable weights with their corresponding coefficients.

df

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness
id,,,,,,,,,,,,,,,
1,1,50,1,1,1,7.2,7.9,136,55.6,8,78,12,1,60607,44
2,1,68,4,0,0,7.0,5.5,104,54.9,7,22,16,0,27155,26
3,1,60,5,0,1,11.4,7.0,132,60.0,8,55,20,1,56371,31
4,0,24,3,0,0,13.1,5.7,139,56.7,5,0,10,1,53930,26
5,1,30,1,1,0,6.1,1.7,108,64.2,0,73,10,1,53575,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1,20,2,1,1,6.1,9.7,105,51.3,7,55,18,1,67835,37
1597,1,75,3,0,1,8.9,5.2,86,59.9,2,43,18,1,59798,29
1598,1,29,0,0,1,4.5,5.4,137,53.5,6,61,16,1,61423,34
1599,1,77,0,0,1,7.5,5.1,143,57.4,0,4,10,0,18404,25
1600,0,21,0,0,1,6.7,4.0,140,59.7,2,38,10,1,59181,32

In [19]:
print(np.mean(df.iloc[:,14]))
print(min(df.iloc[:,14]))
print(max(df.iloc[:,14]))

32.834375
19
47

In [20]:
df.dtypes

0_female           object
1_age              object
2_num_chronic      object
3_married          object
4_urban            object
5_hours_tv         object
6_hours_sm         object
7_num_sunny        object
8_avg_temp         object
9_close_friends    object
10_worship_days    object
11_years_edu       object
12_employed_ft     object
13_income          object
14_happiness       object
dtype: object

In [21]:
for i in range (len(df.columns)):
    df.iloc[:,i] = pd.to_numeric(df.iloc[:,i]) # Converts values in the DataFrame columns to either integers or floats, depending on the input data.

In [22]:
df.dtypes

0_female             int64
1_age                int64
2_num_chronic        int64
3_married            int64
4_urban              int64
5_hours_tv         float64
6_hours_sm         float64
7_num_sunny          int64
8_avg_temp         float64
9_close_friends      int64
10_worship_days      int64
11_years_edu         int64
12_employed_ft       int64
13_income            int64
14_happiness         int64
dtype: object

In [23]:
happiness_iv_list = df.iloc[:,0:14]
happiness_dv = df.iloc[:,14]

y = happiness_dv
x = happiness_iv_list
x = sm.add_constant(x)
output = sm.OLS(y, x)
happiness_results = output.fit()
happiness_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           14_happiness   R-squared:                       0.830
Model:                            OLS   Adj. R-squared:                  0.828
Method:                 Least Squares   F-statistic:                     552.3
Date:                Thu, 22 Apr 2021   Prob (F-statistic):               0.00
Time:                        20:14:43   Log-Likelihood:                -3439.7
No. Observations:                1600   AIC:                             6909.
Df Residuals:                    1585   BIC:                             6990.
Df Model:                          14
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              24.1652      0.828     29.171      0.000      22.540      25.790
0_female           -0.0321      0.169     -0.190      0.850      -0.363       0.299
1_age               0.0075      0.003      2.529      0.012       0.002       0.013
2_num_chronic      -0.4148      0.031    -13.522      0.000      -0.475      -0.355
3_married           6.3367      0.146     43.254      0.000       6.049       6.624
4_urban            -1.1363      0.130     -8.732      0.000      -1.392      -0.881
5_hours_tv         -0.0699      0.014     -5.177      0.000      -0.096      -0.043
6_hours_sm         -0.1658      0.027     -6.210      0.000      -0.218      -0.113
7_num_sunny         0.0013      0.003      0.491      0.624      -0.004       0.006
8_avg_temp         -0.0018      0.011     -0.171      0.864      -0.023       0.019
9_close_friends     0.5227      0.025     20.941      0.000       0.474       0.572
10_worship_days     0.0618      0.002     35.345      0.000       0.058       0.065
11_years_edu        0.0414      0.021      1.953      0.051      -0.000       0.083
12_employed_ft      3.4241      0.581      5.891      0.000       2.284       4.564
13_income        1.101e-05   1.86e-05      0.592      0.554   -2.55e-05    4.75e-05
==============================================================================
Omnibus:                      850.063   Durbin-Watson:                   2.027
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               88.011
Skew:                          -0.005   Prob(JB):                     7.74e-20
Kurtosis:                       1.851   Cond. No.                     9.15e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.15e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [24]:
df_weights_2

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness,15_unexplained
mean,0.4875,49.509375,2.454375,0.475625,0.703125,10.0795,5.07375,120.625,55.052812,3.7375,47.451875,15.38875,0.733125,51978.809375,NaN,NaN
weight,0,0.02,-0.05,0.15,-0.05,-0.03,-0.05,0.02,0.01,0.1,0.15,0.03,0.12,0.04,NaN,0.18
multiplier,0.0,0.000202,-0.010186,0.157687,-0.035556,-0.001488,-0.004927,0.000083,0.000091,0.013378,0.001581,0.000975,0.081841,0.0,NaN,NaN

Having created a regression based off the data, we can now compare the coefficients generated by the regression to the weights assigned when building the DataFrame to see if the relationship is similar across variables. Ideally, we would like to find a ratio close to or equal to 1 between the coefficient and the specified weights (which would indicate that changing the specified weights causes an equivalent change in the regression coefficients). 

After a fair amount of experimenting, I found that the regression weight for a variable is roughly equal to the variable's regression coefficient \* its mean \* 2 / the 'formula multiple', or the amount it was multiplied by when creating the variable values (e.g. 40 in the case of the happiness variables). However, this ratio only works in cases where the variable was given a weight, and is less accurate when (A) there is lots of uncertainty in the model, and/or (B) the regression weight is particularly small.

As part of the dependent variable value calculation process, each independent variable weight was divided by its mean, then divided by 2, and then multiplied by a particular value.\* Therefore, it makes sense that, by multiplying a variable's regresion coefficient by 2, then multiplying it by its mean and dividing it by the formula multiple, I would arrive back at a number close to that variable's weight; after all, that calculation is essentially the reverse of the previous calculation.

\*I believe the result of this calculation to be similar to a regression coeficient, which measures how much the dependent variable is expected to change as a result of a change in an independent variable. After all, both these values and regression coefficients can be multiplied by an independent variable to create a predicted change in the dependent variable.

In [25]:
def compare_weights_and_coefficients(reg_results,weights_df,multiple): # Multiple = the amount by which the original values were multiplied during their initialization. In the case of the happiness variables, the multiplier was 40.
    df_results = pd.DataFrame(reg_results.params)
    df_results.columns=['coeff']
    df_results['mean']=0
    for i in range(1,len(df_results)):
        df_results.loc[df_results.index[i],'mean'] = weights_df.iloc[0,i-1] # This method of combining row numbers and column names when selecting data comes from https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#combining-positional-and-label-based-indexing
    df_results['weight'] = 0
    for i in range(1,len(df_results)):
        df_results.loc[df_results.index[i],'weight'] = weights_df.iloc[1,i-1]
    df_results['coeff*mean*2/multiple']=0
    # The following for loop will now calculate the product of the coefficient in df_results * the weight of that coefficient's variable *2.
    for i in range(1,len(df_results)): #The loop starts at 1 in order to skip the const variable.
        df_results.loc[df_results.index[i],'coeff*mean*2/multiple'] = df_results.loc[df_results.index[i],'coeff']*2*df_results.loc[df_results.index[i],'mean']/multiple # i-1 is used in weights_df.iloc to return the variable to the left of i, which matches the variable listed in the current row of df_happiness_results.
    df_results['ratio']=0 # The 'ratio' column displays the quotient of the coeff*mean*2/multiple column and the weight column for each variable. 
    for i in range (1, len(df_results)):
        df_results.loc[df_results.index[i],'ratio'] = df_results.loc[df_results.index[i],'coeff*mean*2/multiple']/df_results.loc[df_results.index[i],'weight']
    return df_results

df_happiness_results = compare_weights_and_coefficients(happiness_results, df_weights_2, 40)

df_happiness_results

<ipython-input-25-a8ec3c3a4f63>:16: RuntimeWarning: divide by zero encountered in double_scalars
  df_results.loc[df_results.index[i],'ratio'] = df_results.loc[df_results.index[i],'coeff*mean*2/multiple']/df_results.loc[df_results.index[i],'weight']

,coeff,mean,weight,coeff*mean*2/multiple,ratio
const,24.165213,0.000000,0.00,0.000000,0.000000
0_female,-0.032052,0.487500,0.00,-0.000781,-inf
1_age,0.007532,49.509375,0.02,0.018644,0.932212
2_num_chronic,-0.414752,2.454375,-0.05,-0.050898,1.017956
3_married,6.336714,0.475625,0.15,0.150695,1.004633
4_urban,-1.136335,0.703125,-0.05,-0.039949,0.798986
5_hours_tv,-0.069941,10.079500,-0.03,-0.035248,1.174945
6_hours_sm,-0.165802,5.073750,-0.05,-0.042062,0.841239
7_num_sunny,0.001278,120.625000,0.02,0.007708,0.385385
8_avg_temp,-0.001818,55.052812,0.01,-0.005005,-0.500531
9_close_friends,0.522709,3.737500,0.10,0.097681,0.976812
10_worship_days,0.061830,47.451875,0.15,0.146698,0.977986
11_years_edu,0.041405,15.388750,0.03,0.031858,1.061945
12_employed_ft,3.424141,0.733125,0.12,0.125516,1.045968
13_income,0.000011,51978.809375,0.04,0.028602,0.715038

In [26]:
income_iv_list = df.iloc[:,0:13]
income_dv = df.iloc[:,13]

y = income_dv
x = income_iv_list
x = sm.add_constant(x)
output = sm.OLS(y, x)
income_results = output.fit()
income_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              13_income   R-squared:                       0.964
Model:                            OLS   Adj. R-squared:                  0.964
Method:                 Least Squares   F-statistic:                     3312.
Date:                Thu, 22 Apr 2021   Prob (F-statistic):               0.00
Time:                        20:14:44   Log-Likelihood:                -14974.
No. Observations:                1600   AIC:                         2.998e+04
Df Residuals:                    1586   BIC:                         3.005e+04
Df Model:                          13
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            1.878e+04   1014.951     18.500      0.000    1.68e+04    2.08e+04
0_female        -5319.9862    185.012    -28.755      0.000   -5682.880   -4957.092
1_age               4.0069      4.021      0.996      0.319      -3.881      11.894
2_num_chronic    -134.3558     41.298     -3.253      0.001    -215.361     -53.351
3_married        5514.6226    141.403     38.999      0.000    5237.267    5791.978
4_urban          3336.3785    154.552     21.587      0.000    3033.232    3639.525
5_hours_tv       -147.4635     17.872     -8.251      0.000    -182.518    -112.409
6_hours_sm       -210.3006     35.682     -5.894      0.000    -280.289    -140.312
7_num_sunny        -1.7655      3.519     -0.502      0.616      -8.668       5.137
8_avg_temp        -17.4891     14.354     -1.218      0.223     -45.644      10.666
9_close_friends    37.1542     33.707      1.102      0.271     -28.961     103.270
10_worship_days    -0.7669      2.363     -0.325      0.746      -5.402       3.868
11_years_edu      788.9223     20.685     38.141      0.000     748.351     829.494
12_employed_ft   3.061e+04    160.056    191.275      0.000    3.03e+04    3.09e+04
==============================================================================
Omnibus:                      729.943   Durbin-Watson:                   1.957
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               84.651
Skew:                           0.016   Prob(JB):                     4.15e-19
Kurtosis:                       1.874   Cond. No.                     2.19e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.19e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [27]:
df_income_results = compare_weights_and_coefficients(income_results, df_weights_1, 100000)

df_income_results

<ipython-input-25-a8ec3c3a4f63>:16: RuntimeWarning: divide by zero encountered in double_scalars
  df_results.loc[df_results.index[i],'ratio'] = df_results.loc[df_results.index[i],'coeff*mean*2/multiple']/df_results.loc[df_results.index[i],'weight']

,coeff,mean,weight,coeff*mean*2/multiple,ratio
const,18776.629228,0.000000,0.00,0.000000,0.000000
0_female,-5319.986160,0.487500,-0.05,-0.051870,1.037397
1_age,4.006905,49.509375,0.00,0.003968,inf
2_num_chronic,-134.355792,2.454375,0.00,-0.006595,-inf
3_married,5514.622612,0.475625,0.05,0.052458,1.049157
4_urban,3336.378470,0.703125,0.05,0.046918,0.938356
5_hours_tv,-147.463532,10.079500,-0.03,-0.029727,0.990906
6_hours_sm,-210.300647,5.073750,-0.02,-0.021340,1.067013
7_num_sunny,-1.765484,120.625000,0.00,-0.004259,-inf
8_avg_temp,-17.489068,55.052812,0.00,-0.019256,-inf
9_close_friends,37.154221,3.737500,0.00,0.002777,inf
10_worship_days,-0.766878,47.451875,0.00,-0.000728,-inf
11_years_edu,788.922343,15.388750,0.25,0.242811,0.971242
12_employed_ft,30614.728373,0.733125,0.45,0.448888,0.997530

In [28]:
df.to_csv("happiness_data.csv")

In [29]:
df_weights_1

,0_female,1_age,2_num_chronic,3_married,4_urban,5_hours_tv,6_hours_sm,7_num_sunny,8_avg_temp,9_close_friends,10_worship_days,11_years_edu,12_employed_ft,13_income,14_happiness,15_unexplained
mean,0.4875,49.509375,2.454375,0.475625,0.703125,10.0795,5.07375,120.625,55.052812,3.7375,47.451875,15.38875,0.733125,NaN,NaN,NaN
weight,-0.05,0,0,0.05,0.05,-0.03,-0.02,0,0,0,0,0.25,0.45,NaN,NaN,0.1
multiplier,-0.051282,0.0,0.0,0.052562,0.035556,-0.001488,-0.001971,0.0,0.0,0.0,0.0,0.008123,0.306905,NaN,NaN,NaN